.poster-canvas {
  display: block;
  width: 100%;
}

canvas {
  height: auto !important;
  width: auto !important;
}

.canvas-container {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 0 6px rgba(0, 0, 0, 0.3);
}

/*Color Picker*/

.color-picker {
  display: flex;
  flex-direction: row;
  align-content: center;
  position: relative;

  .color {
    width: 36px;
    height: 14px;
    border-radius: 2px;
  }

  label {
    display: block;
    margin: 0 1em;
    text-transform: capitalize;
  }

  .swatch {
    padding: 5px;
    background: #fff;
    border-radius: 1px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    display: inline-block;
    cursor: pointer;
    margin-bottom: 1em;
  }

  .popover {
    bottom: 100%;
    position: absolute;
    z-index: 2;
  }

  .cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.sink {
  display: flex;
  flex-wrap: wrap;
  margin: 1em auto 0;
  max-width: 1000px;
}
.react-contextmenu {
  display: none;

  &.react-contextmenu--visible {
    display: inherit;
  }
}

.help-button {
  margin-left: auto;
}

.helper-list {
  margin-bottom: 0.5em;
  label {
    font-weight: bold;
    display: block;
  }
  li {
    margin-bottom: 1em;
  }
}
