.canvas-container {
  margin: 0 auto;
}

.poster-link {
  border-bottom: 1px dotted;
  color: @primary-color;
  cursor: pointer;
}

#event-poster canvas {
  border: 2px dashed rgba(0,0,0,0.2);
}

h1.ant-form-text {
  margin: 1em 0 0;
}

hr {
  opacity: 0.1;
  width: calc(100% - 4em);
  margin: 0 auto;
  border: none;
  height: 1px;
  background: #111;
}

.event-time .ant-input-group {
  display: inline-block;
  width: auto;
}
